@import "tailwindcss";

@theme {
  --color-background: #f8faf0;
  --color-accent: #10b981;
  --color-accent-dark: #059669;
  --color-card: #ffffff;
  --color-text-main: #1a2e05;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: sans-serif;
  margin: 0;
}